################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/*/.exercism
/*/.vs/
/*/bin
/*/obj
